.bg{
    background-image: url('https://thumbs.dreamstime.com/b/baby-kids-toys-banner-background-teddy-bear-plastic-construction-plane-wooden-blocks-light-blue-color-background-baby-kids-toys-223545231.jpg');
    height: 500px;
    width: 100%;
}